# Mac system files
.DS_store

# built binaries
benchmark/third_party/pagecache-mangagement/trunk/fadv
benchmark/third_party/pagecache-mangagement/trunk/*.so
benchmark/third_party/pagecache-mangagement/trunk/sfr
benchmark/third_party/pagecache-mangagement/trunk/Makefile
dist

# vscode & VIM & JetBrain
.vscode/
.idea
*.swp

# cache
*__pycache__
*.egg-info

# pickle
*.pkl

# log files
*.tsv
*.log
*.raw

# tmp scripts
today_job.sh
